@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.headerSection {
  background: url(./img/heroBg2.png); background-repeat: no-repeat; background-size: cover; background-position: center;
  width: 100%;
  height: 700px;
}

.navbarActive{
  transition: 0.5s ease-in-out;
  backdrop-filter: saturate(180%) blur(3px) !important;
  background: #1B68E0b2 !important;
}

.Navbar {
  width: 100%;
  position: fixed;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .navBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-logo {
      img {
        width: 100px;
        height: 100px;
      }
    }

    .nav-list {
      display: flex;
      gap: 20px;
      align-items: center;
      list-style-type: none;
      padding: none !important;
      margin-top: 12px;

      .NavBtnList {
        display: flex;
        width: auto;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 80px;
        background: #FE390C;
        gap: 8px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
      }
      
      .nav-link {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: 0.36px;
        margin-right: 24px;
      }

      .langList {
        padding-left: 0;
        .langWrap{
          position: relative;
          transition: 0.3s ease-in;
          display: flex;
          align-items: center;
          
          h5{
            cursor: pointer;
            margin: 0;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px; 
            height: auto;
            padding: 2px 10px;
            border-radius: 12px;
            background: #1B68E0;
            align-items: center;

            &:hover {
              background: #1b67e0dd;
            }
          }
      
          .wrap{
            transition: 0.3s ease-in;
            display: none;
            width: 120px;
            position: absolute;
            right: -15px;
            top: 34px;
            padding: 10px;
            background-color: #f7f7f7;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
            
            p{
              cursor: pointer;
              color: #000;
              margin-bottom: 10px;
              margin-left: 20px;
            }
            p:hover {
              color: #757171;
            }
          }
      
          &:hover{
            .wrap{
              transition: 0.5s ease-in;
              display: block;
            }
          }
        }
      }
    
    }

    .NavBtn {
      display: inline-flex;
      padding: 12px 16px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 4px;
      border: 1px solid #FE390C;
      color: #FE390C;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: #fe380ca9;
      }
    }

    .nav__toggler{
      cursor: pointer;
      display: none;
      div{
        border-radius: 5px;
        width: 36px;
        height: 0.2rem;
        margin: 0.4rem;
        background: #fff;
        transition: 0.5s ease-in;
      }
    }
  }
}

// HERO

.heroSection {
  .heroContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 80vh;

    .heroInfo {
      h2 {
        color: #ffffff9c;
        font-size: 40px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.8px;
        margin-bottom: 32px;
        span {
          color: #fff;
        }
      }

      p {
        color: #ddd;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%; 
        letter-spacing: 0.36px;
        text-align: center;
        display: block;
        margin-bottom: 32px;
      }

      a {
        width: 200px;
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        background: #1B68E0;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.36px;
        margin: 0 auto;

        &:hover {
          background: #1b67e0dd;
        }
      }
    }

    div {
      img {
        width: 417px;
        height: 450px;
        border-radius: 20px;
      }
    }
  }
}

// INDICATOR 

.indicatorSection {
  .indicatorContent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    bottom: 60px;

    div {
      margin-bottom: 20px;
      padding: 25px;
      width: 250px;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 6px 30px 0px rgba(11, 42, 90, 0.15);
      
      h1 {
        color: #0B2A5A;
        font-size: 64px;
        font-weight: 600;
        line-height: 130%; 
        letter-spacing: 1.28px;
        margin-bottom: 4px;
      }

      h2 {
        color: #394352;
        font-size: 13px;
        font-weight: 500;
        line-height: 140%; 
        letter-spacing: 0.32px;
      }
    }
  }
}

// SERVICES 

.serviceSection {
  margin-bottom: 100px;
  position: relative;
  top: 150px;
  .servicesTitle {
    color: #0B2A5A;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.96px;
    margin-bottom: 64px;
  }

  .servicesContent {
    margin-bottom: 150px;
    div {
      margin-bottom: 30px;

      div {
        height: 263px;
        padding: 24px;
        align-items: flex-start;
        border-radius: 32px;
        background: linear-gradient(0deg, #d1e1f959 0%, #d1e1f959 100%), #d1e1f933;
        margin-right: 24px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(0deg, #d1e1f965 0%, #d1e1f965 100%), #d1e1f965;
        }

        i {
          width: 64px;
          height: 64px;
          margin-bottom: 24px;
          font-size: 34px;
          border-radius: 16px;
          background: #D1E1F9;
          color: #1B68E0;
          text-align: center;
          padding-top: 13px;
        }

        h3 {
          color: #05152D;
          font-size: 40px;
          font-weight: 600;
          line-height: 130%;
          letter-spacing: 0.8px;
          margin-bottom: 8px;
        }

        p {
          color: #394352;
          font-size: 18px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
        }
      }
    }
  }
}

// ADVANTAGES

.advantageSection {
  margin-bottom: 100px;
  .advantagesTitle {
    color: #0B2A5A;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.96px;
    margin-bottom: 64px;
    padding-top: 100px;
  }

  .advantageContent {
    display: flex;
    flex-wrap: wrap;

    .advantageInfo {
      display: flex;
      gap: 24px;
      div {
        width: 400px;
        padding: 24px 16px;
        border-radius: 32px;
        background: rgba(209, 225, 249, 0.35);
        margin-bottom: 30px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(0deg, #d1e1f965 0%, #d1e1f965 100%), #d1e1f965;
        }

        img {
          width: 56px;
          height: 56px;
          margin-bottom: 24px;
        }

        i {
          width: 56px;
          height: 56px;
          padding: 12px;
          font-size: 32px;
          border-radius: 16px;
          background: #D1E1F9;
          color: #1B68E0;
          margin-bottom: 24px;
        }

        h3 {
          color: #05152D;
          font-size: 30px;
          font-weight: 600;
          line-height: 130%; 
          letter-spacing: 0.6px;
          margin-bottom: 8px;
        }

        p {
          overflow: hidden;
          color: #394352;
          font-size: 18px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
        }
      }
    }
  }
}

// ACCORDION

.accordionSection {
  .accordionTitle {
    color: #0B2A5A;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.96px;
    margin-bottom: 64px;  
  }

  .accordion {
    .accordion-item {
      background: rgba(209, 225, 249, 0.20);

      .accordion-header {
        button {
          color: #05152D;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.8px;

        }
      }

      .accordion-collapse {
        div {
          color: #475467;
          font-size: 18px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.64px;
        }
      }
    }
  }
}

// CONTACT

.contactSection {
  background: rgba(209, 225, 249, 0.20);
  padding: 50px;
  margin-top: 100px;

  .contactTitle {
    color: #0B2A5A;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.96px;
    margin-bottom: 64px;
  }

  .contactContent {
    form {
      input {
        width: 350px;
        padding: 10px 30px 10px 12px;
        border-radius: 40px;
        border: 1px solid #1B68E0;
        margin-bottom: 20px;
      }

      textarea {
        display: flex;
        width: 350px;
        height: 170px;
        border-radius: 40px;
        border: 1px solid #1B68E0;
        padding: 15px 0 0 15px;
        margin: 0 auto;
        margin-bottom: 35px;
      }
      
      button {
        width: 350px;
        height: 50px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 40px;
        border: 1px solid #1B68E0;
        background: #1B68E0;
        color: #FCFCFC;
        font-size: 20px;
        font-weight: 400;
        &:hover {
          background: #2b72e5;
        }
      }
    }

    .contactInfo {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      a {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        width: 250px;
        height: 50px;
        border: 1px solid #1B68E0;
        background: #1B68E0;
        border-radius: 40px;
        padding-left: 15px;
        i {
          margin-right: 10px;
          font-size: 24px;
          color: #fff;
        }

        &:hover {
          background: #2b72e5;
        }
      }

      .map {
        iframe {
          width: 380px;
          height: 200px;
          border-radius: 40px;
        }
      }
    }
  }
}

// FOOTER 

.footerSection {
  padding: 40px 96px 0px 96px;
  background:#05152D;
  .footerContent {
    text-align: center;

    li {
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.4px;
      margin-bottom: 8px;
    }
    h2 {
      color: #FFF;
        font-size: 22px;
        font-weight: 700;
        line-height: 140%; 
        letter-spacing: 0.64px;
        margin-bottom: 16px;
    }

    .servicesList {
      text-align: left;
    }

    .footerContact {
      .footerContactTitle {
        margin-bottom: 40px;
      }
      .footerPhone {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        width: 180px;
        height: auto;
        border: 1px solid #1B68E0;
        background: #1B68E0;
        border-radius: 40px;
        padding: 8px 0 8px 15px;
        margin: 0 auto;
        margin-bottom: 40px;
        i {
          margin-right: 6px;
          font-size: 17px;
          color: #fff;
        }

        &:hover {
          background: #2b72e5;
        }
      }

      .socialList {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        div {
          background: #1B68E0;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          padding: 6px 0 0 0;
          margin-left: 25px;
          transform: scale(1);
          &:hover {
            i {
              transition: all .5s ease-in-out;
              transform: scale(1.2);
            }
          }

          a {
            i {
              color: #fff;
              font-size: 20px;
            }
          }
        }
      }

    }
  }

  .footerLine {
    border-bottom: 1px solid rgba(209, 225, 249, 0.50);
    margin: 24px 0;
  }

  .footerLastContent {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    a {
      img {
        width: 130px;
        height: auto;
      }
    }
    h2 {
      color: #D1E1F9;
      font-size: 30px;
      font-weight: 700;
      line-height: 130%; 
      letter-spacing: 0.6px;
    }

    span {
      color: #d1e1f980;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }
}

// PRICE

.priceSection {
  position: relative; 
  top: 100px;
  margin-bottom: 200px;

  .priceTitle {
    color: #0B2A5A;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.96px;
    margin-bottom: 64px;
  }

  .priceContent {
    .priceCard {
      width: 340px;
      border-radius: 40px;
      padding: 20px 0px;
      cursor: pointer;
      margin: 0 10px 10px 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-bottom: 20px;  
      
      h2 {
        color: #05152D;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }

      span {
        color: #05152da5;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        display: block;
        text-align: center;
      }

      .priceHr {
        width: 100%;
        height: 1px;
        background: #D9D9D9;
        margin-bottom: 20px;
      }

      ul {
        margin-bottom: 20px;
        li {
          color: #05152D;
          font-size: 15px;
          font-weight: 400;
          display: flex;
          align-items: center;
          &::before {
            content: '';
            display: inline-block;
            background: url(img/pricePlusIcon.png);background-repeat: no-repeat;background-size: cover;background-position: center;
            width: 24px;
            height: 24px;
            color: red;
            margin-right: 10px;
          }
        }
      }

      h3 {
        color: #05152D;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
      }

      .priceMonth {
        margin-top: -10px;
        margin-bottom: 20px;
      }

      a {
        width: 65%;
        height: 40px;
        color: #1B68E0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        border-radius: 10px;
        border: #1B68E0 1px solid;
        margin: 0 auto;
        padding-top: 7px;
        &:hover {
          background-color: #1B68E0;
          color: #fff;
          transition: .3s ease-in;
        }
      }
    }
  }
}