@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.headerSection {
  background: url(./img/headrBg.png); background-repeat: no-repeat; background-size: cover; background-position: center;
  width: 100%;
  height: 700px;
}
.Navbar {
  padding: 20px 0;
  margin-bottom: 40px;
  .navBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-logo {
        h1 {
          color: #0B2A5A;
          font-size: 30px;
          font-weight: 700;
          line-height: 130%; 
          letter-spacing: 0.6px;
        }
    }

    .nav-list {
      display: flex;
      gap: 20px;
      align-items: center;
      list-style-type: none;
      padding: none !important;
      margin-top: 12px;

      .NavBtnList {
        display: flex;
        width: auto;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 80px;
        background: #FE390C;
        gap: 8px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
      }
      
      .nav-link {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: 0.36px;
        margin-right: 24px;

        &:hover {
          color: #ffffffc2;
        }
      }

      .langList {
        padding-left: 0;
        .langWrap{
          position: relative;
          transition: 0.3s ease-in;
          display: flex;
          align-items: center;
          
          h5{
            cursor: pointer;
            margin: 0;
            color: #05152D;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px; 
            height: auto;
            padding: 2px 10px;
            border-radius: 12px;
            background: #E8F0FC;
            align-items: center;
          }
      
          .wrap{
            transition: 0.5s ease-in;
            display: none;
            width: 120px;
            position: absolute;
            right: -25px;
            top: 34px;
            padding: 10px;
            background-color: #f7f7f7;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

            p{
              cursor: pointer;
              color: #000;
              margin-bottom: 10px;
              margin-left: 20px;
            }
            p:hover {
              transition: 0.3s ease-in;
              color: #000;
            }
          }
      
          &:hover{
            .wrap{
              transition: 0.5s ease-in;
              display: block;
            }
          }
        }
      }
    
    }

    .NavBtn {
      display: inline-flex;
      padding: 12px 16px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 4px;
      border: 1px solid #FE390C;
      color: #FE390C;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: #fe380ca9;
      }
    }

    .nav__toggler{
      cursor: pointer;
      display: none;
      div{
        border-radius: 5px;
        width: 36px;
        height: 0.2rem;
        margin: 0.4rem;
        background: #ddd;
        transition: 0.5s ease-in;
      }
    }
  }
}

// HERO

.heroSection {
  .heroContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heroInfo {
      h2 {
        color: #0B2A5A;
        font-size: 40px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.8px;
        margin-bottom: 32px;
        span {
          color: #1654B3;
        }
      }

      p {
        color: #394352;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%; 
        letter-spacing: 0.36px;
        width: 720px;
        margin-bottom: 32px;
      }

      a {
        width: 140px;
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        background: #1B68E0;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.36px;

        &:hover {
          background: #1B68E0;
          color: #ffffffc2;
        }
      }
    }

    div {
      img {
        width: 416.786px;
        height: 450px;
        border-radius: 20px;
      }
    }
  }
}

// INDICATOR 

.indicatorSection {
  // width: 100%;
  // height: 100vh;
  // position: relative;

  // .pTop {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   height: 100vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   z-index: 2;
  // }

  // .blur {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: linear-gradient(180.03deg, rgba(26, 33, 73, 0) 0.03%, #18235C 99.97%), rgba(24, 35, 92, 0.5);
  // }

  .indicatorText {
    display: block;
    text-align: center;
    z-index: 5;

    p {
      width: 500px;
      font-weight: 400;
      font-size: 12px;
      line-height: 143.9%;
      color: #fff;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 70px;
    }
  }

  .indicatorContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    bottom: 60px;

    h1 {
      color: #0B2A5A;
      font-size: 64px;
      font-weight: 600;
      line-height: 130%; 
      letter-spacing: 1.28px;
    }

    h2 {
      color: #394352;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%; 
      letter-spacing: 0.32px;
    }
    div {
      margin-bottom: 20px;
      padding: 25px;
      width: 250px;
      height: auto;
      background: #374276;
      margin-right: 20px;
      
      h1 {
        font-weight: 700;
        font-size: 45px;
        line-height: 96.4%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 15px;
      }

      h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 96.4%;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.01em;
        color: #fff;
      }
    }
  }
}