@media (max-width: 900px) {
  // HERO

  .heroSection {
    .heroContent {
      align-items: center;
      margin: 0 auto;
      position: relative;
      top: 150px;

      .heroInfo {
        h2 {
          color: #0B2A5A;
          font-size: 40px;
          font-weight: 700;
          line-height: 130%;
          letter-spacing: 0.8px;
          margin-bottom: 32px;
          span {
            color: #fff;
          }
        }

        p {
          color: #394352;
          font-size: 18px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
          margin-bottom: 32px;
        }

        a {
          width: 140px;
          display: flex;
          padding: 16px 24px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 16px;
          background: #1B68E0;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px; 
          letter-spacing: 0.36px;

          &:hover {
            background: #1B68E0;
            color: #ffffffc2;
          }
        }
      }

      div {
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }
    }
  }
}

@media (max-width: 791px) {
  .Navbar{
    .navBody{
      .nav__toggler{
        display: block;
        z-index: 9;
      }

      .toggle{
        .line1{
          transform: rotate(-45deg) translate(-9px, 5px);
        }
        .line2{
          opacity: 0;
        }
        .line3{
          transform: rotate(45deg) translate(-8px, -5px);
        }
      }

      .nav-list{
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background: #1A5E5A;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        margin-top: 0;
        transition: 0.3s ease-in;

        .langList {
          padding-left: 0;
          position: relative;
          right: 10px;
          .langWrap{
            position: relative;
            transition: 0.3s ease-in;
            display: flex;
            align-items: center;
            
            h5{
              cursor: pointer;
              margin: 0;
              color: rgba(221, 221, 221, 0.953);
              font-size: 16px;
              font-weight: 500;
              line-height: 28px; 
              height: auto;
              padding: 2px 10px;
              border-radius: 12px;
              background: #55C4E2;
              align-items: center;
  
              &:hover {
                background: #55c3e2e0;
              }
            }
        
            .wrap{
              transition: 0.3s ease-in;
              display: none;
              width: 120px;
              position: absolute;
              right: -25px;
              top: 34px;
              padding: 10px;
              background-color: #f7f7f7;
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
              
              p{
                cursor: pointer;
                color: #000;
                margin-bottom: 10px;
                margin-left: 20px;
              }
              p:hover {
                color: #757171;
              }
            }
        
            &:hover{
              .wrap{
                transition: 0.5s ease-in;
                display: block;
              }
            }
          }
        }
  
      }

      .nav__active{
        transform: translateX(0);
      }
    }
}
.NavBtn {
  display: none !important;
}

  // HERO

  .headerSection {
    background: url(./img/headrBg.png); background-repeat: no-repeat; background-size: cover; background-position: center;
    width: 100%;
    height: 100vh;
  }

  .heroSection {
    .heroContent {
      align-items: center;
      position: relative;
      top: 150px;
      margin: 0 auto;
      text-align: center; 

      .heroInfo {
        order: 2;

        h2 {
          color: #fff;
          font-size: 28px !important;
          font-weight: 700;
          line-height: 130%;
          letter-spacing: 0.8px;
          margin-bottom: 28px;
          span {
            color: #1B68E0;
          }
        }

        p {
          color: #ddd;
          font-size: 16px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
          margin-bottom: 28px;
        }

        a {
          width: 170px;
          display: flex;
          padding: 10px 15px;
          justify-content: center;
          align-items: center;
          gap: 0px;
          border-radius: 10px;
          background: #1B68E0;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px; 
          letter-spacing: 0.36px;
          text-align: center;
          margin: 0 auto; 

          &:hover {
            background: #1B68E0;
            color: #ffffffc2;
          }
        }
      }

      div {
        order: 1;
        img {
          width: 362px;
          height: auto;
          border-radius: 20px;
          margin: 0 auto;
          display: block;
          margin-bottom: 28px;
        }
      }
    }
  }
}

@media (max-width: 564px) {
  .indicatorSection {
    .indicatorText {
      .indicatorHeaderTitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 122.4%;
        color: #fff;
        margin-bottom: 20px;
      }
  
      p {
        width: 500px;
        font-weight: 400;
        font-size: 12px;
        line-height: 143.9%;
        color: #fff;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
      }
    }
  
    .indicatorContent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      div {
        width: 90%;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }

  .heroSection {
    .heroContent {
      align-items: center;
      position: relative;
      margin: 0 auto;
      text-align: center; 

      .heroInfo {
        order: 2;

        h2 {
          color: #0B2A5A;
          font-size: 24px !important;
          font-weight: 700;
          line-height: 110%;
          letter-spacing: 0.8px;
          margin-bottom: 18px !important;
          span {
            color: #fff;
          }
        }

        p {
          color: #394352;
          font-size: 12px !important;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
          margin-bottom: 18px !important;
        }

        a {
          width: 170px;
          display: flex;
          padding: 10px 15px;
          justify-content: center;
          align-items: center;
          gap: 0px;
          border-radius: 10px;
          background: #1B68E0;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px; 
          letter-spacing: 0.36px;
          text-align: center;
          margin: 0 auto; 

          &:hover {
            background: #1B68E0;
            color: #ffffffc2;
          }
        }
      }

      div {
        order: 1;
        img {
          width: 50%;
          height: auto;
          border-radius: 20px;
          margin: 0 auto;
          display: block;
          margin-bottom: 28px;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .heroSection {
    .heroContent {
      align-items: center;
      position: relative;
      top: 200px;
      margin: 0 auto;
      text-align: center; 

      .heroInfo {
        order: 2;

        h2 {
          color: #0B2A5A;
          font-size: 20px !important;
          font-weight: 700;
          line-height: 110%;
          letter-spacing: 0.8px;
          margin-bottom: 18px !important;
          span {
            color: #fff;
          }
        }

        p {
          color: #394352;
          font-size: 12px !important;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
          margin-bottom: 18px !important;
        }

        a {
          width: 170px;
          display: flex;
          padding: 10px 15px;
          justify-content: center;
          align-items: center;
          gap: 0px;
          border-radius: 10px;
          background: #1B68E0;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px; 
          letter-spacing: 0.36px;
          text-align: center;
          margin: 0 auto; 

          &:hover {
            background: #1B68E0;
            color: #ffffffc2;
          }
        }
      }

      div {
        order: 1;
        img {
          width: 70%;
          height: auto;
          border-radius: 20px;
          margin: 0 auto;
          display: block;
          margin-bottom: 28px;
        }
      }
    }
  }
}
