@media (max-width: 950px) {
  // CONTACT

  .contactSection {
    padding: 100px 0;
    margin-top: 100px;

    .contactTitle {
      font-size: 48px;
      margin-bottom: 40px;
    }

    .contactContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      p {
        width: auto;
        font-weight: 600;
        line-height: 1.4;
        font-size: 40px;
        border: none;
        border-bottom: 3px solid #1B68E0;
        padding-left: 0px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        text-align: center;
      }
      
      form {
        display: block;
        input {
          width: 100%;
        }

        textarea {
          display: flex;
          width: 100%;
          margin-bottom: 35px;
        }
        
        button {
          width: 100%;
          height: 50px;
        }
      }
    }
  }

}

@media (max-width: 791px) {
  .Navbar{
    .navBody{
      .nav__toggler{
        display: block;
        z-index: 9;
      }

      .toggle{
        .line1{
          transform: rotate(-45deg) translate(-9px, 5px);
        }
        .line2{
          opacity: 0;
        }
        .line3{
          transform: rotate(45deg) translate(-8px, -5px);
        }
      }

      .nav-list{
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background: #1B68E0;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        margin-top: 0;
        transition: 0.3s ease-in;

        .langList {
          padding-left: 0;
          position: relative;
          right: 10px;
          .langWrap{
            position: relative;
            transition: 0.3s ease-in;
            display: flex;
            align-items: center;
            
            h5{
              cursor: pointer;
              margin: 0;
              color: rgba(221, 221, 221, 0.953);
              font-size: 16px;
              font-weight: 500;
              line-height: 28px; 
              height: auto;
              padding: 2px 10px;
              border-radius: 12px;
              background: #55C4E2;
              align-items: center;
  
              &:hover {
                background: #55c3e2e0;
              }
            }
        
            .wrap{
              transition: 0.3s ease-in;
              display: none;
              width: 120px;
              position: absolute;
              right: -25px;
              top: 34px;
              padding: 10px;
              background-color: #f7f7f7;
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
              
              p{
                cursor: pointer;
                color: #000;
                margin-bottom: 10px;
                margin-left: 20px;
              }
              p:hover {
                color: #757171;
              }
            }
        
            &:hover{
              .wrap{
                transition: 0.5s ease-in;
                display: block;
              }
            }
          }
        }
  
      }

      .nav__active{
        transform: translateX(0);
      }
    }
  }

}

@media (max-width: 767px) {
  // INDICATOR 

  .indicatorSection {
    .indicatorText {
      display: block;
      text-align: center;
      z-index: 5;

      p {
        width: 500px;
        font-weight: 400;
        font-size: 12px;
        line-height: 143.9%;
        color: #fff;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
      }
    }

    .indicatorContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 50px;

      div {
        margin-bottom: 20px;
        padding: 25px;
        width: 250px;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 6px 30px 0px rgba(11, 42, 90, 0.15);
        
        h1 {
          color: #0B2A5A;
          font-size: 64px;
          font-weight: 600;
          line-height: 130%; 
          letter-spacing: 1.28px;
          margin-bottom: 4px;
        }

        h2 {
          color: #394352;
          font-size: 13px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.32px;
        }
      }
    }
  }

  // SERVICES 

  .serviceSection {
    margin-bottom: 0px;
    position: relative;
    top: 150px;
    .servicesTitle {
      font-size: 34px;
      margin-bottom: 44px;
    }

    .servicesContent {
      margin-bottom: 80px;
      justify-content: center !important;

      .test {
        position: relative;
        left: 0px;
      }
      div {
        width: 80%;
        padding: 24px;
        margin-bottom: 25px;
      }
    }
  }

  // ADVANTAGES

  .advantageSection {
    margin-bottom: 50px;
    .advantagesTitle {
      font-size: 34px;
      margin-bottom: 44px;
    }

    .advantageContent {
      gap: 24px;
      div {
        width: 80%;
        margin-bottom: 25px;

        h3 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  // ACCORDION

  .accordionSection {
    margin-bottom: 80px;
    .accordionTitle {
      font-size: 34px;
      margin-bottom: 44px;  
    }
  }

    // CONTACT

    .contactSection {
      padding: 50px 0;
      margin-top: 100px;
  
      .contactTitle {
        font-size: 34px;
        margin-bottom: 20px;
      }
  
      .contactContent {
        p {
          font-size: 30px;
          border: none;
          border-bottom: 2px solid #1B68E0;
          padding-left: 0px;
          padding-bottom: 10px;
          margin-bottom: 50px;
          text-align: center;
        }
        form {
          display: block;
          input {
            width: 100%;
          }
  
          textarea {
            display: flex;
            width: 100%;
            margin-bottom: 35px;
          }
          
          button {
            width: 100%;
            height: 50px;
          }
        }
      }
  }

  // FOOTER 

  .footerSection {
    .footerContent {
      text-align: center;
      li {
        font-size: 16px;
        color: #ddd;
      }
      h2 {
          font-size: 22px;
      }

      .servicesList {
        text-align: center;
      }

      .footerContact {
        .footerContactTitle {
          margin-bottom: 40px;
        }
        .footerPhone {
          margin-bottom: 40px;
        }

        .socialList {
          margin-right: 20px;
        }
      }
    }

    .footerLastContent {
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-wrap: wrap;
      a {
        img {
          width: 130px;
          height: auto;
        }
      }

      span {
        margin-bottom: 20px;
      }
    }
  }

  // HERO

  .heroSection {
    .heroContent {
      .heroInfo {
        h2 {
          width: auto;
        }

        p {
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 564px) {
  .indicatorSection {
    .indicatorContent {
      top: 130px;
      div {
        width: 90%;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 20px;

        div {
          margin-bottom: 20px;
          padding: 25px;
          width: 250px;
          border-radius: 16px;
          background: #FFF;
          box-shadow: 0px 6px 30px 0px rgba(11, 42, 90, 0.15);
          
          h1 {
            color: #0B2A5A;
            font-size: 44px;
            font-weight: 600;
            line-height: 130%; 
            letter-spacing: 1.28px;
            margin-bottom: 4px;
          }
    
          h2 {
            color: #394352;
            font-size: 13px;
            font-weight: 500;
            line-height: 140%; 
            letter-spacing: 0.32px;
          }
        }
      }
    }
  }

  // HERO

  .heroSection {
    .heroContent {
      .heroInfo {
        h2 {
          font-size: 28px;
          margin-bottom: 20px;
        }

        p {
          font-size: 14px;
          text-align: center;
          display: block;
          margin-bottom: 20px;
        }

      }

      div {
        img {
          width: 417px;
          height: 450px;
          border-radius: 20px;
        }
      }
    }
  }

    // SERVICES 

    .serviceSection {
      .servicesTitle {
        font-size: 34px;
        margin-bottom: 34px;
      }
  
      .servicesContent {
        margin-bottom: 80px;
        div {
          h3 {
            font-size: 26px !important;
          }
  
          p {
            font-size: 14px;
          }
        }
      }
    }

  // ADVANTAGES

  .advantageSection {
    margin-bottom: 30px;
    .advantagesTitle {
      font-size: 34px;
      margin-bottom: 34px;
    }

    .advantageContent {
      gap: 0px;
      div {
        h3 {
          font-size: 26px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  // ACCORDION

  .accordionSection {
    margin-bottom: 50px;
    .accordionTitle {
      margin-bottom: 34px;  
    }
  }

  // CONTACT

  .contactSection {
    padding: 30px 0;

    .contactTitle {
      font-size: 34px;
      margin-bottom: 20px;
    }

    .contactContent {
      p {
        font-size: 20px;
        border: none;
        border-bottom: 2px solid #1B68E0;
        padding-left: 0px;
        padding-bottom: 10px;
        margin-bottom: 50px;
        text-align: center;
      }
      form {
        display: block;
        input {
          width: 100%;
        }

        textarea {
          display: flex;
          width: 100%;
          margin-bottom: 35px;
        }
        
        button {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
  
  // FOOTER 

  .footerSection {
    .footerContent {
      text-align: center;
      li {
        font-size: 12px;
        color: #ddd;
      }
      h2 {
        font-size: 18px;
        margin-bottom: 14px;
      }

      .servicesList {
        text-align: center;
      }

      .footerContact {
        .footerContactTitle {
          margin-bottom: 40px;
        }
        .footerPhone {
          margin-bottom: 40px;
        }
      }

      .socialList {
        div {
          width: 30px !important;
          height: 30px !important;
          margin-left: 15px !important;
          padding: 3px !important;
          a {
            i {
              font-size: 13px !important;
            }
          }
        }
      }
    }

    .footerLastContent {
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-wrap: wrap;
      a {
        img {
          width: 130px;
          height: auto;
        }
      }

      span {
        margin-bottom: 20px;
      }
    }
  }


}

@media(max-width: 403px) {
  // HERO

  .heroSection {
    .heroContent {
      .heroInfo {
        h2 {
          color: #ffffff9c;
          font-size: 24px;
          font-weight: 700;
          line-height: 130%;
          letter-spacing: 0.8px;
          margin-bottom: 20px;
          span {
            color: #fff;
          }
        }

        p {
          color: #ddd;
          font-size: 12px;
          font-weight: 500;
          line-height: 140%; 
          letter-spacing: 0.36px;
          text-align: center;
          display: block;
          margin-bottom: 20px;
        }

      }

      div {
        img {
          width: 417px;
          height: 450px;
          border-radius: 20px;
        }
      }
    }
  }
}

