@media (max-width: 791px) {
    .Navbar{
      .navBody{
        .nav-logo{
          img{
            height: 50px;
          }
        }
        .nav__toggler{
          display: block;
          z-index: 9;
        }

        .toggle{
          .line1{
            transform: rotate(-45deg) translate(-9px, 5px);
          }
          .line2{
            opacity: 0;
          }
          .line3{
            transform: rotate(45deg) translate(-8px, -5px);
          }
        }

        .nav-list{
          position: fixed;
          top: 0;
          right: 0;
          width: 70%;
          height: 100vh;
          background: #1A5E5A;
          flex-direction: column;
          justify-content: center;
          transform: translateX(100%);
          margin-top: 0;
          transition: 0.3s ease-in;
        }

        .nav__active{
          transform: translateX(0);
        }
      }
  }
  .NavBtn {
    display: none !important;
  }
}

@media (max-width: 564px) {
  .indicatorSection {
    .indicatorText {
      .indicatorHeaderTitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 122.4%;
        color: #fff;
        margin-bottom: 20px;
      }
  
      p {
        width: 500px;
        font-weight: 400;
        font-size: 12px;
        line-height: 143.9%;
        color: #fff;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
      }
    }
  
    .indicatorContent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      div {
        width: 90%;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }
  
}